@model KerimMMC.Models.Blog
@{
    ViewData["Title"] = "Edit";
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" asp-for="HeadText" class="form-control" value="@Model.HeadText"/>
        <span asp-validation-for="HeadText" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input type="file" asp-for="Photo" accept="image/*" class="form-control" value="" />
        <span asp-validation-for="Photo" class="text-danger"></span>
        <img class="img-thumbnail" src="~/images/blog/@Model.Image" height="300" width="300" />

    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <textarea asp-for="Text" class="form-control">@Model.Text</textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <input type="submit" asp-action="Edit" class="btn btn-success btn-block" value="Edit" />
</form>