@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = "Services";
}

<!--    Main Area Start   -->
<main>
    <!--    Breadcrumb Area Start   -->
    <section class="breadcrumb-area pt-180 pb-180 pb-md-150 pt-md-150 pb-xs-100 pt-xs-100" data-overlay="dark"
             data-opacity="9" style="background-image: url(/images/bg/breadcrumb-bg-1.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="breadcrumb-content">
                        <h3 class="title">@SharedLocalizer["services"]</h3>
                        <ul>
                            <li><a  asp-controller="Home" asp-action="Index">@SharedLocalizer["mainPage"]</a></li>
                            <li class="active">@SharedLocalizer["services"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--    Breadcrumb Area Start   -->
    <!--    Service Area 3 Start   -->
    <div class="service-area bg-light pt-120">
        <div class="container">
            <div class="row pb-60">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrap-3 mb-30">
                        <div class="service-thumb">
                            <img src="~/images/service/service-1.jpg" alt="service">
                        </div>
                        <div class="service-details">
                            <h4>Kranların icarəsi</h4>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrap-3 mb-30">
                        <div class="service-thumb">
                            <img src="~/images/service/service-2.jpg" alt="service">
                        </div>
                        <div class="service-details">
                            <h4>Qaldırıcı qurğuların diqanostikası və texniki sınaqdan keçirilməsi</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrap-3 mb-30">
                        <div class="service-thumb">
                            <img src="~/images/service/service-3.jpg" alt="service">
                        </div>
                        <div class="service-details">
                            <h4>Metal konstruksiyaların yoxlanılması</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrap-3 mb-30">
                        <div class="service-thumb">
                            <img src="~/images/service/service-4.jpg" alt="service">
                        </div>
                        <div class="service-details">
                            <h4>Qazanların texniki baxışdan keçirilməsi</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrap-3 mb-30">
                        <div class="service-thumb">
                            <img src="~/images/service/service-5.jpg" alt="service">
                        </div>
                        <div class="service-details">
                            <h4>Qaldırıcı qurğuların təmir edilməsi</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrap-3 mb-30">
                        <div class="service-thumb">
                            <img src="~/images/service/service-6.jpg" alt="service">
                        </div>
                        <div class="service-details">
                            <h4>Binaların tikilməsi</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrap-3 mb-30">
                        <div class="service-thumb">
                            <img src="~/images/service/service-7.jpg" alt="service">
                        </div>
                        <div class="service-details">
                            <h4>Beton konstruksiyaların quraşdırılması</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrap-3 mb-30">
                        <div class="service-thumb">
                            <img src="~/images/service/service-8.jpg" alt="service">
                        </div>
                        <div class="service-details">
                            <h4>Fasad işləri</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrap-3 mb-30">
                        <div class="service-thumb">
                            <img src="~/images/service/service-9.jpg" alt="service">
                        </div>
                        <div class="service-details">
                            <h4>Mühəndis komunikasiyaların qurulması</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrap-3 mb-30">
                        <div class="service-thumb">
                            <img style="height: 17rem;" src="~/images/about/about-3.jpg" alt="service">
                        </div>
                        <div class="service-details" style="left: 46%;top: -50px;">
                            <h4>Sualtı texniki işlər</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrap-3 mb-30">
                        <div class="service-thumb">
                            <img src="~/images/blog/blog-thumb-9.jpg" alt="service">
                        </div>
                        <div class="service-details">
                            <h4>Pirslərin tikilməsi</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrap-3 mb-30">
                        <div class="service-thumb">
                            <img src="~/images/thumb/pic6.jpg" alt="service">
                        </div>
                        <div class="service-details">
                            <h4>Sahilbərkitmə işləri</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrap-3 mb-30">
                        <div class="service-thumb">
                            <img src="~/images/thumb/pic6.jpg" alt="service">
                        </div>
                        <div class="service-details">
                            <h4>Su anbarları</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrap-3 mb-30">
                        <div class="service-thumb">
                            <img src="~/images/thumb/thum6.jpg" alt="service">
                        </div>
                        <div class="service-details">
                            <h4>Enmə quyularının kessonların qurulması</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    Service Area 3 End    -->
    <!--    Work Area Start   -->

    <section>
        <div class="container">
            <h1 class="text-center">Bizim işlər</h1>
            <div class="row">
                <div class="col-md-6 col-12">
                    <img src="~/images/service/12.jpg" />
                    <p>Salyan şəhərində çənlərin hazırlanmasında KC-4361 A tipli kranımızın iş prosesindən</p>
                </div>
                <div class="col-md-6">
                    <img src="~/images/service/13.jpg" />
                    <p>Şirvan şəhəri,8 mərtəbəli yaşayış binasının tikilişində KC-4361 A tipli kranımızın</p>
                </div>
                <div class="col-md-6 col-12">
                    <img src="~/images/service/14.jpg" />
                    <p>
                        Beton səddlərin yerləşdirilməsi prosesində ДЕК-25 T tipli kranımız.
                    </p>
                </div>
                <div class="col-md-6 col-12">
                    <img src="~/images/service/15.jpg" />
                    <p>Lənkəran şəhərində Kanalizasiya xəttlərində kollektor montajı prosesi 23/05/2019</p>

                </div>
                <div class="col-md-6 col-12">
                    <img src="~/images/service/16.jpg" />
                    <p>Gəncə şəhərində içməli su və kanalizasiya borularının rekonstruksiyası zamanı 17/12/2017</p>
                </div>
                <div class="col-md-6 col-12">
                    <img src="~/images/service/17.jpg" />
                    <p>
                        Bakı şəhəri/Badamdar qəsəbəsində və Babək prospektində kanalizasiya borularının
                        yenilənməsi və montajı zamanı. 23/11/2016
                    </p>
                </div>
                <div class="col-md-6 col-12">
                    <img src="~/images/service/18.jpg" />
                    <p>
                        SOCARDA HEYDƏR ƏLİYEV ADINA NEFT EMALI ZAVODUNDA 80 TONLUQ   DENIZ  LIMAN PORTAL KRANININ TEMIRI
                    </p>
                </div>
                <div class="col-md-6 col-12">
                    <img src="~/images/service/20.jpg" />
                    <p>
                        1900-cü ildə təməli qoyulan hündürlüyü 60 metr olan tüstü bacası çökmə təhlükəsi ilə üzləşirdi. Ölkə başçısı tarixi abidə hesab edilən bacanın təmiri üçün tapşırıq verdi. Bacanın təmiri layihəsini icra edən şirkət üçün bacanın daxilində  təmir işlərini aparmaq ciddi problemlərdən biri idi.
                        Kerim Temir Tikinti Qurasdirma MMC -nin şirkəti bacanın içərisinə işçi personalın daşınması, təmir quraşdırma işlərinin aparılması üçün personal lifti və avadanlıqların, tikinti materiallarının 60 metr yüksəkliyə daşınması üçün 1,5 ton yükgötürmə qabiliyyətli yük lifti layihəsini təklif etdi. Təklif  bəyənildi,  personal və yük lifti layihəsi Kerim Temir Tikinti Qurasdirma MMC -nin şirkətinə həval olundu. Şirkətimiz həvalə olunmuş layihəni vaxtında və tam təhlükəsiz şəkildə icra etd

                    </p>
                </div>

                <div class="col-md-6 col-12">
                    <img src="~/images/service/22.jpg" />
                </div>
                <div class="col-md-6 col-12">
                    <img src="~/images/service/23.jpg" />

                </div>
                <div class="col-md-6 col-12">
                    <img src="~/images/service/24.jpg" />
                    <p>
                        Zigda estakada təmiri zamanı çəkilmiş fotoşəkil
                    </p>
                </div>
                <div class="col-md-6 col-12">
                    <img src="~/images/service/25.jpg" />
                    <p>
                        ƏLƏT-MASALLI YOLUNUN TIKINTISI
                    </p>
                </div>
                <div class="col-md-6 col-12">
                    <img src="~/images/service/26.jpg" />
                    <h4>
                        PALÇIQ ZAVODU LAYIHƏSI
                    </h4>
                    <p>
                        MÜŞTƏRİ: BP Exploration (Xəzər dənizi) Ltd.<br />
                        PODRATÇI: Kellogg Brovn və Root (Halliburton KBR) Azərbaycan nümayəndəliyi<br />
                        SUBPODRATÇI:  “Kerim Temir Tikinti Qurasdirma” MMC<br />
                        YER: SPS <br />
                        GÖRÜLƏN IŞLƏR:<br />
                        » Palçıq zavodun özülünün tikilməsi;<br />
                        » Boru saxlama anbarı tikməklə yanaşı hasarların çəkilməsi;<br />

                    </p>
                </div>
                <div class="col-md-6 col-12">
                    <img src="~/images/service/27.jpg" />
                    <h4>
                        Yanğın əleyhinə su çəninin istehsali və quraşdırılması;
                    </h4>
                    <p>
                        » 2-ci anbarın tikintisi üçün özül və müvafiq lövhələrin təminatı;<br />
                        » Palçıq zavoda gedən yolun və Drenaj sisteminin tikilməsi və s.

                    </p>
                </div>
                <div class="col-md-6 col-12">
                    <img width="100%" src="~/images/service/28.jpg" />
                    <h4>
                        YENI ŞIMAL YOLUNUN TIKINTISI
                    </h4>
                    <p>

                        ÜŞTƏRİ: BP Exploration (Xəzər dənizi) Ltd.<br />
                        PODRATÇI: Production Services Network (PSN)<br />
                        SUBPODRATÇI:  “Kerim Temir Tikinti Qurasdirmka” MMC<br />
                        YER: SPS-ə yaxın<br />
                        “Kerim Temir Tikinti Qurasdirmka” MMC tərəfindən müqavilə əsasında görülən tikinti və quraşdırma işləri:<br />
                        Layihə: BP Logistika Bazası yolu üzərində Bakı Dərin Özüllər Zavoduna yaxın yeni şimal yolunun tikintisi.<br />
                        GÖRÜLƏN IŞLƏR:<br />
                        » Mühəndisi və topoqrafik araşdırma;<br />
                        » Qazma işləri;<br />
                        » Yol üzülünün preslənməsi və qurudulması;<br />
                        » Çınqıl yayma;<br />
                        » Dəmir-beton işləri (Fundament, Sütun Fundamenti, Drenaj Səngərlər, Dəmir-beton strukturlar);<br />
                        » Hasarlama işləri;<br />
                        » Beton yolun tikintisi;<br />
                        » Çınqil yolun tikintisi;<br />
                        » Neft quyusunun yerləşdiyi ərazinin tikintisi;<br />
                        » Quraşdırma işləri;<br />
                        » Boru;<br />

                    </p>
                </div>
                <div class="col-md-6 col-12">
                    <img src="~/images/service/21.jpg" />
                    <p>
                        Kerim Temir Tikinti Qurasdirma MMC -nin ” Azərbaycan Respublikası ərazisində neft-qaz sektorunda  fəaliyyət  göstərən ilk  yerli  özəl  şirkətlərdən  biridir. İlk  dövrlərdə  şirkət  neft-qaz  istehsalı  avadanlıqlarının təchizatı ilə məşğul olmuş və hal-hazırda  bu sahədə böyük təcrübə  əldə etmişdir. Şirkətin neft-qaz  istehsalı avadanlıqlarının təchizatı üzrə əsas sifarişçiləri aşağıdakılardır: “SOCAR” , “BP  Exploration”,  “Mc  Dermott Caspian Construction”.
                        “ Kerim Temir Tikinti Qurasdirma MMC -nin ”  fəaliyyətini genişləndirərək tikinti, montaj,  nəqliyyat vasitələrinin, tikinti  və xüsusi avadanlıqlarının təchizatı, istehsalat, memarlıq və dizayn sahəsində  də  fəaliyyətini qurmuşdur.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--    Work Area End    -->
</main>
<!--    Main Area End    -->
